*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    width: 100%;
    height: 800px;
    background: url(../img/bg.jpg);
    background-size: 100% 100%;
}
nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.h_nav {
    width: 140px;
    height: 42px;
    font-size: 43px;
   font-weight: bolder;
}
.text_nav {
    width: 900px;
    height: 100px;
        display: flex;
 align-items: center;
     justify-content: space-around;
}
.text_nav1 {
    color: white;
    font-size: 16px;
}
.text_nav2 {
    color: black;
    font-size: 18px;
    background: white;
    border-radius: 24px;
    width: 128px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
header{
    width: 100%;
    height: 700px;
}
.header_block{
    width: 77%;
    height: 450px;
    margin: 0 auto;
    margin-top: 50px;
}
.header_block1{
    white-space: nowrap;
    width: 45%;
    height: 450px;
    float: left;
}
.header_block2{
    width: 50%;
    height: 450px;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.header_block2_1{
    width: 90%;
    height: 231px;
}
.header_block2_2{
    width: 40%;
    height: 180px;
    background: rgba(255, 255, 255, 0.199);
    border-radius: 10px;
}
.header_block2_3{
    width: 45%;
    height: 180px;
    background: rgba(255, 255, 255, 0.199);
border-radius: 10px;
}
.h1_header_block1{
    padding-top: 70px;
    color: white;
    line-height: 40px;
    font-size: 48px;
}
.p_header_block1{
    color: lightgray;
    line-height: 25px;
    padding-top: 16px;
    font-size: 16px;
}
.button1_header_block1{
    width: 30%;
    height: 50px;
    background:#69E6A6;
    border: none;
    border-radius: 56px;
    font-size: 20px;
    line-height: 28px;
    font-weight: bolder;
}
.button2_header_block1{
    width: 30%;
    height: 50px;
    background: #0A2640;
    color: white;
    border-radius: 56px;
    border: 2px solid white;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}
.header__image1{
    width: 100%;
    height: 232px;
    background: rgba(255, 255, 255, 0.199);
    border-radius: 10px;
    padding-top: 7px;
    padding-left: 5px;
    margin-bottom: 20px;
}
.dots{
    width: 10%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 35px;
}
.lines{
    width: 84%;
    height: 15px;
    margin: 15px auto;
    display: flex;
}
.line{
    background-color: #95ABBC;
    width: 54px;
    height: 13px;
    margin-right: 20px;
    border-radius: 14px;
}
.l1{
    border-radius: 14px;
    height: 13px;
    background-color: #95ABBC;
    width: 270px;
    animation: anim2 4s infinite linear;
}

.l2{
    width: 80px;
    border-radius: 14px;
    height: 13px;
    background: #0DBBFC;
    animation: anim3 4s infinite linear;
}
@keyframes anim3{
    50%{
        width: 270px;
    }
    100%{
        width: 80px;
    }
}
.l3{
    width: 317px;
    background-color: #FFFFFF;
    border-radius: 14px;
    height: 13px;
    animation: anim4 5s infinite linear;
}

.l4{
    width: 254px;
    height: 13px;
    border-radius: 14px;
    background: #65E4A3;
    animation: anim5 3s infinite linear;
}
@keyframes anim5{
    50%{
        width: 317px;
    }
    100%{
        width: 254px;
    }
}
.img_1{
    padding-left: 20px;
}
.img_2{
    width: 55%;
    height: 100px;
    margin-top: 20px;
    margin-left: 50px;
}
.img_3{
 
    margin-top: 20px;
    margin-left: 20px;
    animation: anim7 1s infinite linear;
}
@keyframes anim7{
100%{
    transform: rotate(20deg)
}
}
.img_4{
    width: 40%;
    height: 70px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.header_block3{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_b3_1 {
    width: 140px;
    height: 40px;
   font-size: 36px;
   color: white;
}
.h_b3_2 {
    width: 140px;
    height: 40px;
   font-size: 36px;
   color: white;
}






.block_handshake {
    width: 100%;
}
.t_handshake {
    width: 10%;
    height: 34px;
   color: gray;
   font-size: 20px;
   font-family: 'Manrope';
   margin: 0 auto;
}
.text_handshake {
    width: 40%;
    height: 150px;
    font-size: 48px;
    font-family: 'Manrope';
    margin: 0 auto;
    text-align: center;
}
.block1_handshake {
   width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.block_handshake1 {
    width: 300px;
    height: 575px;
}
.img1_handshake {
width: 100%;
height: 360px;
}
.text1_b_handshake {
    width: 100%;
    height: 60px;
   font-size: 24px;
   font-family: 'Manrope';
}
.text2_b_handshake {
    width: 100%;
    height: 70px;
    font-size: 20px;
    color: gray;
    font-family: 'Manrope';
}
.text3_b_handshake {
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-bottom: 2px solid black;
    font-family: 'Manrope';
}
.block_handshake2 {
    width: 300px;
    height: 575px;
}
.block_handshake3{
    width: 300px;
    height: 575px;
}
.img_arrow {
    width: 16%;  
}
